<div>
    <h3>wellcome  : {{user.name}}</h3>
    <h3>Last Name : {{user.lastName}}</h3>
    <h3>Password : {{user.password}}</h3>
    <h3>Task :     {{user.Task}}</h3>
    <h3>Subject :  {{user.subject}}</h3>
    <h3>Class :    {{user.class}}</h3>
    <h3>rating :    {{user.rating}}</h3>
</div>

        <h1>Task</h1>
<ul>
    <li ng-repeat="task in user.Task">
        <span ng-repeat="singletask in task">{{singletask}}</span>
        <span ng-repeat="com in task.comment">{{com}}</span>
        <input type="text" placeholder="Comments" ng-model="comments"/>
        <button type="button" ng-click="addComments(user,$index,comments)">Add comments</button>
    </li>

</ul>